# Ignore C++ files
*.cpp linguist-detectable=false
*.h linguist-detectable=false
*.hpp linguist-detectable=false
*.cxx linguist-detectable=false
*.hxx linguist-detectable=false
*.c++ linguist-detectable=false

# Ignore CMake files
CMakeLists.txt linguist-detectable=false
*.cmake linguist-detectable=false
